@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300;800&family=Hanalei+Fill&family=Holtwood+One+SC&family=Peralta&family=Roboto+Condensed&family=Rubik+80s+Fade&family=Rubik+Storm&family=Shantell+Sans:wght@300&display=swap');
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}


body {
    font-size: 16px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/imagenes/fondo/1150-21780.avif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

.superior {
    max-width: 100%;
}

.botones {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 10px;
    margin-block-end: 30px;
}

.botonHead {
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #2e518b;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
    margin: 5px;
}

nav ul {
    list-style-type: none;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* scroll con los productos */

.product-container {
    background-color: #8b8b8b7a;
    height: 300px;
    overflow-y: scroll;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 300px;
}

.product {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
}

.banner {
    color: #45a049;
    width: 100px;
    margin-right: 10px;
}

.banner-banner {
    background-color: #8b8b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.pie-de-pagina {
    font-family: 'Peralta', serif;
    background-color: white;
}

.banner-superior {
    display: flex;
    align-items: center;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* formulario y mapa */

.formularioContent {
    padding: 10px;
    margin: 50px;
}

.contactoContent {
    background-color: #fffcfcd3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.map-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

/* boton flotante wpp */


/* slider */

.d-block {
    align-items: center;
    width: 100%;
}

#carousel-item-active {
    display: flex;
    justify-content: space-around;
}

/* carrito */

.cart-container {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 200px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

/* texto "nosotros" */

.nosotrosP {
    background-color: #fffcfcd3;
    padding: 1%;
    margin: 0;
}